
@{
    ViewBag.Title = "SignIn";
}

<h2>SignIn</h2>
<form method="post" action="/Home/CheckUser">
    <input type="text" name="UserName" placeholder="Enter UserName" />
    <input type="password" name="Password" placeholder="Enter Pssward" />
    <input type="submit" value="Login" />
</form>

